

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Actualizar usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/editu/{{usuario.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{usuario.nombre_completo}}" name="fullname" placeholder="Nombre completo" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{usuario.email}}" name="email" placeholder="Ingresar correo" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" value="{{usuario.clave}}" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{usuario.telefono}}" name="tel" placeholder="Telefono" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dir" value="{{usuario.direccion}}" placeholder="Direccion" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ciudad" value="{{usuario.cod_municipio}}" placeholder="Ciudad" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cod_postal" value="{{usuario.cod_postal}}" placeholder="Codigo postal" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Actualizar
                            </button>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>